body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-image: url("./static/fondo.webp");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    overflow: hidden;
}

.img-sun{
    position: absolute;
    height: 20%;
    top: 40px;
    left: 60px;
}

.rayos-img{
    position: absolute;
    top: -10px;
    left: -10px;
}

.rayos2-img{
    position: absolute;
    top: 20px;
    left: -50px;
    rotate: -35deg;
}

.input_numeros{
    width: 50px;
    text-align: center;
    margin-right: 10px;
}

.bloque_de_información_radiacion{
    position: absolute;
    width: 160px;
    padding: 5px;
    align-items: center;
    justify-content: center;
    text-align: center;
    backdrop-filter: blur(5px);
    border-radius: 20px;
    border: black 2px solid;

    /* Posición start*/

    top: 20px;
    left: 240px;

    /* Posición end */  
}

.bloque_de_información_eficiencia_solar{
    position: absolute;
    width: 160px;
    padding: 5px;

    /* Posición start*/

    top: 450px;
    left: 40px;

    /* Posición end */

    align-items: center;
    justify-content: center;
    text-align: center;
    backdrop-filter: blur(5px);
    border-radius: 20px;
    border: black 2px solid;
}

.bloque_de_informacion_capacidad_de_carga_bateria{
    position: absolute;
    width: 160px;
    padding: 5px;

    /* Posición start*/

    left: 1100px;
    top: 420px;

    /* Posición end */

    align-items: center;
    justify-content: center;
    text-align: center;
    backdrop-filter: blur(5px);
    border-radius: 20px;
    border: black 2px solid;
}

.regulador-img{
    width: 400%;
}

.caja_voltaje_input{
    position: absolute;
    width: 40px;
    height: 19px;
    top: 35px;
    left: 42px;
    text-align: center;
}

.selector_de_voltaje_imagen_formulario{
    position: absolute;
    width: 40px;
    height: 20px;
    top: 480px;
    left: 900px;
    text-align: center;
}

.panel_solar_img{
    left: 270px;
    position: absolute;
    width: 20%;  /* 20 a 25 */
    top: 391px;
}

.bloque_de_información_selector_de_voltaje{
    position: absolute;
    width: 160px;
    padding: 5px;

    /* Posición start*/

    left: 890px;
    top: 400px;

    /* Posición end */

    align-items: center;
    justify-content: center;
    text-align: center;
    backdrop-filter: blur(5px);
    border-radius: 20px;
    border: black 2px solid;
}

.bloque_de_información_area_panel_solar{
    position: absolute;
    width: 160px;
    padding: 5px;

    /* Posición start*/

    left: 40px;
    top: 370px;

    /* Posición end */

    align-items: center;
    justify-content: center;
    text-align: center;
    backdrop-filter: blur(5px);
    border-radius: 20px;
    border: black 2px solid;
}

.bloque_de_información_información_producida{
    position: absolute;
    width: 160px;
    padding: 5px;

    /* Posición start*/

    left: 650px;
    top: 400px;

    /* Posición end */

    align-items: center;
    justify-content: center;
    text-align: center;
    backdrop-filter: blur(5px);
    border-radius: 20px;
    border: black 2px solid;
}

.info_corriente_producida_panel_solar{
    border-radius: 20px;
    width: 70px;
    text-align: center;
    border: black 2px dashed;
    background-color: white;
}

.hr{
    border-color: black;
}

.bloque_de_información_potencia_electrica_generada{
    position: absolute;
    width: 160px;
    padding: 5px;

    /* Posición start*/

    left: 650px;
    top: 520px;

    /* Posición end */

    align-items: center;
    justify-content: center;
    text-align: center;
    backdrop-filter: blur(5px);
    border-radius: 20px;
    border: black 2px solid;
}

.info_potencia_electrica_generada_panel_solar{
    border-radius: 20px;
    width: 80px;
    text-align: center;
    border: black 2px dashed;
    background-color: white;
}

.info_capacidad_de_carga_bateria{
    border-radius: 20px;
    width: 70px;
    text-align: center;
    border: black 2px dashed;
    background-color: white;
}

.bloque_de_informacion_tiempo_de_carga_bateria{
    position: absolute;
    width: 160px;
    padding: 5px;

    /* Posición start*/

    left: 1100px;
    top: 530px;

    /* Posición end */

    align-items: center;
    justify-content: center;
    text-align: center;
    backdrop-filter: blur(5px);
    border-radius: 20px;
    border: black 2px solid;
}

.info_tiempo_de_carga_bateria{
    border-radius: 20px;
    width: 70px;
    text-align: center;
    border: black 2px dashed;
    background-color: white;
}

.bloque_de_informacion_tiempo_de_exposicion_al_sol{
    position: absolute;
    width: 200px;
    padding: 5px;

    /* Posición start*/

    top: 20px;
    left: 430px;

    /* Posición end */

    align-items: center;
    justify-content: center;
    text-align: center;
    backdrop-filter: blur(5px);
    border-radius: 20px;
    border: black 2px solid;
}

.bloque_de_informacion_capacidad_de_bateria{
    position: absolute;
    width: 160px;
    padding: 5px;

    /* Posición start*/

    left: 40px;
    top: 530px;

    /* Posición end */

    align-items: center;
    justify-content: center;
    text-align: center;
    backdrop-filter: blur(5px);
    border-radius: 20px;
    border: black 2px solid;
}